#container{
    height: 600px;
    width: 400px;
    background-color: aliceblue;
    border: 4px solid black;
    border-radius: 5%;
    margin: 20px auto;
    display:flex;
    flex-direction: row;
    flex-wrap :wrap;
    justify-content: space-around;
    align-content: center;
    align-content: space-around;
    


}

#container div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 4px solid black;
    font-size: 4em;
    text-align:center;
    background-color: cyan;
    border-radius: 10%;
}