#outer{

    width: 70px;
    height: 200px;
    border: 2px solid black;

}
.inner{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;

}
#red{
    background-color: red;
    margin : 10px;

}
#yellow{
    background-color: yellow;
    margin:10px;

}
#green{
    background-color: green;
    margin: 10px;
}