* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}




/* Main container */
.main_box {
  position: relative;
  height: 100vh;
  background: url("photo.jpg");
  background-size: cover;
}

/* Hidden checkbox */
#check {
  display: none;
}

/* Hamburger button */
.btn_one {
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* Sidebar menu */
.sidebar_menu {
  position: fixed;
  left: -300px;
  width: 300px;
  height: 100vh;
  background: #111;
  transition: all 0.4s ease-in-out;
  padding: 20px;
}

/* Sidebar active when checkbox checked */
#check:checked ~ .sidebar_menu {
  left: 0;
}

/* Close button (X) */
.btn_two {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 25px;
  cursor: pointer;
}

/* Logo */
.logo a {
  color: white;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}

/* Menu styling */
.menu ul {
  margin-top: 50px;
}

.menu ul li {
  list-style: none;
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menu ul li i {
  color: white;
  font-size: 20px;
  padding-left: 5px;
  padding-right : 7px;
}

/* Social icons */
.social_media {
  position: absolute;
  color: rgba(255,255,255,0.1);
  bottom: 30px;
  left: 20px;
}

.social_media a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
  margin-right: 15px;
  text-decoration: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255,255,255,0.5);
}
.main_box .sidebar_menu .social_media{
    color : rgba(255,255,255,0.5);  
}
.menu ul li i:hover,
.social_media a:hover i {
  color: #ffffff;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
  transition: 0.2s ease;
  transform: scale(1.1);
}
.btn_one i:hover,
.btn_two i:hover {
  color: #ffffff;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
  transition: 0.2s ease;
  transform: scale(1.1)
}

.btn_two :hover{
    font: size 40px;
}

