#mainTopic{
    color: blue;
}
*{
    text-align: center;
}
h1,h3{
    font-style: Georgia;
}
p{
    color:white;
    background-color: blue;
}
div button{
    color:azure;
    background-color: purple;
}
button:hover{
    color: blue;
    background-color: yellow;
}
p:nth-of-type(odd){
    color: yellow;
}
h1::first-letter{
    color:red;

}
input[type = "checkbox"]:checked+label{
    color:yellow;
}
