h1{
    color: #ffa511;
    font-family: League spartan;
    text-align: center;
    font-size: 55px;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: double underline teal;
    text-transform: uppercase;


}